/*
* NLF Theme
* Created By: Sanjay Godavariya
*/
/*===========table file Download page Css ===============*/
.table-list .row {
    margin-bottom: 15px;
}
.table-list { padding-top: 50px; }
.navbar-default{box-shadow: 1px 1px 4px #48504e;}
.min-height { min-height: 645px }
.margin-top-150{ margin-top: 150px }
section.margin-top-150 {
    margin-top: 140px;
    padding: 35px 0;
}

/*===========Login Form page Css ===============*/
.btn.btn-xl.color-login{background-color: #7260aa; border-color: #7260aa; color:#fff;}
.btn-login{ background-color: #7260aa;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 10px 20px;}
.mainbox .panel-info > .panel-heading {
    background-color: #7260aa;
    border-color: #7260aa;
    color: #fff;
}
.form-control {
    border-color: #c8bce4;
    border-radius: 30px;
    font-size: 15px;
    height: 50px;
    padding: 10px 20px;
}
.mainbox .panel-body{padding:40px 30px 20px; }
#loginbox{ margin-top: 150px; }
.mainbox .panel{ border-color:#2b2e83;}
.mainbox .first{margin-bottom: 25px;}
.last-one{margin-top:10px;}
.forgot-pass{float:right; font-size: 95%; position: relative; top: 11px;}
.forgot-pass a{color: #1D163A;}
.sign-up-foo > a { color: #1d163a;}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}



