/* Space out content a bit */

.padding{
  margin-top: 1%;
  margin-bottom: 1%;
}
.option-margin{
    margin-left: 25%;
    margin-top: 10%;
}

.padding-top {
    padding-top:8px;
}

.icon-padding{
    padding: 4.5px 5px !important;
}

.table-font{
  font-size: 14px !important;
}

a {
   cursor: pointer !important;
}
