body {
	margin-top: 141px;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
}
.project-address-btn-outer .pull-right {
    width: 25% !important;
}

@media(min-width:768px) {
	body {margin-top: 70px;}
}

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 0;
}

.huge {
	font-size: 50px;
	line-height: normal;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 280px;
	}

	#page-wrapper {
		padding: 10px;
	}
}

/* Top Navigation */

.top-nav {
	padding: 0 15px;
}

.top-nav>li {
	display: inline-block;
	float: left;
}
.page-header{ border-bottom: 0 none;}
.top-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 40px;
	color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
	color: #fff;
	background-color: #000;
}

.top-nav>.open>.dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0,0,0,.15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
	white-space: normal;
}

ul.message-dropdown {
	padding: 0;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

li.message-preview {
	width: 275px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
	padding-top: 15px;
	padding-bottom: 15px;
}

li.message-footer {
	margin: 5px 0;
}

ul.alert-dropdown {
	width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
	.side-nav {
		position: fixed;
		top: 70px;
		left: 280px;
		width: 280px;
		margin-left: -280px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #262231;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}

	.side-nav>li>a {
		width: 280px;
	}

	.side-nav li a:hover,
	.side-nav li a:focus {
		outline: none;
		background-color: #000 !important;
	}
}

.side-nav>li>ul {
	padding: 0;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}

.side-nav>li>ul>li>a:hover {
	color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

/* Custom Colored Panels */

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green > .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green > a {
	color: #5cb85c;
}

.panel-green > a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red > .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}
.table-responsive .btn-primary {
    background-color: #735cc4;
    border-color: #735cc4;
	}
.panel-red > a {
	color: #d9534f;
}

.panel-red > a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow > a {
	color: #f0ad4e;
}

.panel-yellow > a:hover {
	color: #df8a13;

}

/* Form Css */

.input-group1 {
	float: right;
	position: relative;
	white-space: nowrap;
}
.member-btn {
    margin-top: 8px;
}
.member-btn a {
    color: #2b3c49;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}
.date-icon {
	background-image: url("../images/date.png");
	background-repeat: no-repeat;
	height: 24px;
	position: absolute;
	right: 17px;
	top: -37px;
	width: 23px;
}
.add-btn {
    background-image: url("../images/Add.png");
    background-position: left center;
    background-repeat: no-repeat;
    height: 31px;
    padding-bottom: 6px;
    padding-left: 45px;
    padding-top: 6px;
}
.add-btn.del {
    background-image: url("../images/delete.png");
}

.form-control {
	border-radius: 30px;
	height: 50px;
	font-size: 15px;
	padding: 10px 20px;
	
	border-color: #C8BCE4;
}
label{
	font-weight:500;   text-transform: uppercase;
	padding-left:23px;
}
.panel-body {
	border: 1px solid #C8BCE4;
	padding: 50px 20px;
	border-radius: 3px;
}
.form-control:focus{border-color: #C8BCE4; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(115, 92, 196, 0.6)}
.button .btn.btn-default.cust-btn {
	background-color: #735cc4;
		border-radius: 30px;
	border: 0 none;
	float: right;

	color: #fff;
	margin-top: 20px;
	padding: 15px 20px;
	text-transform: uppercase;
	width: 180px;
	
}
.ng-pristine .pull-right {
  width: 22%;
}
#first_step .button .btn.btn-default.cust-btn {
		width: 100%;
}
.button .pull-right {
  margin: 0;
}
.form-group {
	margin-bottom: 20px;
}
select.select-style {
	color: #bcb8cb;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: rgba(0, 0, 0, 0) url("../images/select.png") no-repeat scroll 95% center / 0.9rem 0.9rem;
}
.head-title{margin-bottom: 50px;
	text-align: center;
	font-family: LatoBold,sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 50px;
}
.first-col { padding-right: 50px;}
.second-col { padding-left: 50px;}
.cust-label {
	margin-bottom: 15px;
	text-transform: uppercase;
}

input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="checkbox"] {
	display: none;
}
.checkbox label::before {
	border-radius: 3px;
}
.checkbox label {
	cursor: pointer;
	min-height: 23px;
	display: inline-block;
	font-size: 13px;
	margin-right: 15px;
	padding-left: 45px;
	position: relative;
}
.checkbox label::before {
	background-color: #f6f5fb;
	border: 1px solid #c8bce4;
	bottom: 1px;
	content: "";
	display: inline-block;
	height: 24px;
	left: 0;
	margin-right: 10px;
	position: absolute;
	width: 24px;
}
.checkbox label {
	margin-bottom: 10px;
}
hr{ margin-top: 25px; margin-bottom: 30px;}
input[type="checkbox"]:checked + label::before {
	color: #f3f3f3;
	border-color:#735cc4;
	background-color: #735cc4;
	content: "✓";
	font-size: 15px;
	line-height: 21px;
	text-align: center;
}
.report-panel {
    margin-bottom: 60px;
    margin-top: 10px;
}
.brand-logo .navbar-brand:hover{ background-color: #fff; }
.container_custom {
    margin: 0 auto;
    width: 1170px;
}
@media only screen and (min-width:992px) and (max-width:1470px)  {
	.container_custom {width: 100%;}
	.ng-isolate-scope {
    padding-right: 0px !important;
    width: 100% !important;
}
}
@media only screen and (min-width:768px) and (max-width:991px)  {
	.ng-pristine .pull-right {
  width: 50%;
}
	.panel-body { padding: 15px;}
	.first-col { padding-right:0;}
	.second-col { padding-left: 0;}
	.container_custom {width: 100%;}
	.ng-isolate-scope {
    padding-right: 0px !important;
    width: 100% !important;
}
}
@media only screen and (min-width:320px) and (max-width:767px)  {
	.project-address-btn-outer .pull-right {
		width: 50% !important;
}
	#first_step .button .pull-right {
  margin: 0;
  width: 50%;
}
	.container_custom {width: 100%;}
	.panel-body { padding: 15px;}
	.first-col { padding-right:0;}
	.second-col { padding-left: 0;}
	.button { text-align: center;}
	.button .btn.btn-default.cust-btn {
		float: none;
		margin: 20px auto;
	}
	.brand-logo .navbar-brand{ width: 200px !important; }
	.ng-isolate-scope {
     padding-right: 0px !important;
    width: 100% !important;
}

}

.fixed-action-btn {
	position: absolute;
	right: 23px;
	top: 5px;
	margin-bottom: 0;
	z-index: 998;
}
.btn-floating.btn-large-action {
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding: 0;
	background-color: #26a69a;
	border-radius: 50%;
	transition: .3s;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-floating i {
	line-height: 50px;
	width: inherit;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 2.6rem;
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
.red {
	background-color: #735CC4 !important;
	border-radius: 50%;
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    background-color: #735cc4;
    border-bottom-width: 2px;
    color: #fff;
}
.report-panel .nav.nav-tabs {
    margin: 0 auto;
    width: 340px;
}

.btn-large-action {
	border: none;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}
.btn-floating i img {
	padding-bottom: 7px;
}

.custom-button {
	background-color: #735cc4;
	border: 0 none;
	color: #fff;
	padding: 15px 20px;
	text-transform: uppercase;
	width: 100%;
}
.custom-button:hover, .custom-button:focus {
	background-color: #735cc4;
	color: #fff;
}
.page-header {
	font-size: 26px;
	font-weight: 600;
	margin: 30px 0;
	text-align: center;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 15px;
	letter-spacing: 1px;
}
.navbar-inverse .navbar-brand {
	color: #FFF;
	font-size: 17px;
}
.navbar-inverse {
    background-color: #14111b !important;
    border-color: #080808 !important;
}
.navbar-inverse .navbar-nav >li > a {
    color: #a29db3 !important;
}
.navbar-inverse .navbar-nav >li.active > a, .navbar-inverse .navbar-nav >li > a:hover {
	background-color: #735cc4 !important;
	color: #fff !important;
}
/*-Stello-CSS-*/

.brand-logo .navbar-brand {
    background-color: #fff;
    padding: 10px 15px;
    width: 280px;
}
.brand-logo  .navbar-brand > img {
    display: block;
    width: 190px;
}
.width-270 {
    width: 270px;
}
.width-200{width: 200px;}
.width-300{width: 300px;}
.width-250{width: 250px;}
.width-110{ width: 110px;}
.width-400{width: 400px;}
.width-150{width: 150px;}
.width-70 {
    width: 70px;
}
.img-box{float: right;padding-top: 20px;}
.report-page thead tr{background-color: rgb(31, 56, 100); color:#fff;}
.report-page thead tr th{ text-align:center;}
.report-page  tbody tr:nth-child(1) td:nth-child(2) {text-align:right;}
.report-page .table-bordered > tbody > tr:nth-child(1) > td{ border: 0 none;}
.table > tbody > tr > td.valign-middle{ vertical-align: middle;}
.box-tooltip {
    padding: 23px 35px;
}

.box-tooltip ul li {
    background-position: left 12px;
    background-repeat: no-repeat;
    line-height: 30px;
    padding-left: 35px;
		padding-top: 5px;
}
.box-tooltip ul li.skill-passed{
	  background-image: url("../images/right.png");
}
.box-tooltip ul li.uncheck {
    background-image: none;
}
.title {
    text-align: center;
    color: #735CC4;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: LatoSemibold,sans-serif;
}
.popover.right > .arrow {
    border-right-color: rgba(115, 92, 196, 0.6);
    left: -24px;
    margin-top: -25px;
  }
  .popover > .arrow {
      border-width: 25px;
  }
  .popover.right > .arrow::after{bottom: -23px;}
  .popover.right {
    margin-left: 25px;
}
.popover > .arrow::after{border-width: 23px;}
.popover {
 min-width: 340px;
 max-width: 400px;
 border: none;
 box-shadow: 0 0 8px 0 rgba(115, 92, 196, 0.6);
 padding: 0;
}
.popover-title,.popover-content {
 padding: 0;
}
.box-tooltip {
 background-color: #fff;
}
.link-site {
     background-color: #735cc4;
    bottom: 0;
    padding: 10px;
    position: fixed;
    width: 280px;
}
.link-site a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance:textfield;
}
#page-wrapper{ min-height: 88vh; }
.list-color{ background-color: #f6f5fb; }
.ng-isolate-scope {
    padding-right: 50px;
    width: 43% !important;
}
.font-strong{ font-weight:600; }
footer {
	 clear: both;
	 height: 40px;
    background-color: #eae8f0;
    padding: 10px 0;
    text-align: center;
}
@media screen and (min-width:768px) and (max-width: 1200px) {
	.button .btn.btn-default.cust-btn {
   width: 100% !important;
}
	.navbar-brand{ height: auto;}
.navbar-default .navbar-brand {
	padding-left: 15px;
	padding-bottom:0;
	padding-top: 15px;}
	.insight.navbar-nav > li > a{ line-height: auto;}
.navbar.navbar-fixed-top .navbar-brand img {
	margin-top: -60px;
	width: 180px;}
}
@media screen and (min-width:320px) and (max-width: 767px) {
	.nav.navbar-nav .on-mobile {
  display: block !important;
}
	.ng-isolate-scope {
  padding-right: 0;
  width: 100% !important;
}
	.navbar.navbar-default .container{ background-color: #f8f8f8;}
	#first_step .row.col-sm-3.pull-right,#first_step .col-sm-3.pull-right.button{ float:none !important;}
}
