/*
* NLF Theme
* Created By: Sanjay Godavariya
*/
@font-face {
  font-family:LatoRegular;src:url(../fonts/LatoRegular.eot);src:url(../fonts/LatoRegular.eot) format('embedded-opentype'),url(../fonts/LatoRegular.woff2) format('woff2'),url(../fonts/LatoRegular.woff) format('woff'),url(../fonts/LatoRegular.ttf) format('truetype'),url(../fonts/LatoRegular.svg#LatoRegular) format('svg');
}
@font-face {
  font-family:LatoLight;src:url(../fonts/LatoLight.eot);src:url(../fonts/LatoLight.eot) format('embedded-opentype'),url(../fonts/LatoLight.woff2) format('woff2'),url(../fonts/LatoLight.woff) format('woff'),url(../fonts/LatoLight.ttf) format('truetype'),url(../fonts/LatoLight.svg#LatoLight) format('svg');
}
@font-face {
  font-family:LatoBold;src:url(../fonts/LatoBold.eot);src:url(../fonts/LatoBold.eot) format('embedded-opentype'),url(../fonts/LatoBold.woff2) format('woff2'),url(../fonts/LatoBold.woff) format('woff'),url(../fonts/LatoBold.ttf) format('truetype'),url(../fonts/LatoBold.svg#LatoBold) format('svg');
}
@font-face {
  font-family:LatoBlack;src:url(../fonts/LatoBlack.eot);src:url(../fonts/LatoBlack.eot) format('embedded-opentype'),url(../fonts/LatoBlack.woff2) format('woff2'),url(../fonts/LatoBlack.woff) format('woff'),url(../fonts/LatoBlack.ttf) format('truetype'),url(../fonts/LatoBlack.svg#LatoBlack) format('svg');
}
@font-face {
  font-family:LatoHeavy;src:url(../fonts/LatoHeavy.eot);src:url(../fonts/LatoHeavy.eot) format('embedded-opentype'),url(../fonts/LatoHeavy.woff2) format('woff2'),url(../fonts/LatoHeavy.woff) format('woff'),url(../fonts/LatoHeavy.ttf) format('truetype'),url(../fonts/LatoHeavy.svg#LatoHeavy) format('svg');
}
@font-face {
  font-family:LatoSemibold;src:url(../fonts/LatoSemibold.eot);src:url(../fonts/LatoSemibold.eot) format('embedded-opentype'),url(../fonts/LatoSemibold.woff2) format('woff2'),url(../fonts/LatoSemibold.woff) format('woff'),url(../fonts/LatoSemibold.ttf) format('truetype'),url(../fonts/LatoSemibold.svg#LatoSemibold) format('svg');
}
@font-face {
  font-family:LatoMedium;src:url(../fonts/LatoMedium.eot);src:url(../fonts/LatoMedium.eot) format('embedded-opentype'),url(../fonts/LatoMedium.woff2) format('woff2'),url(../fonts/LatoMedium.woff) format('woff'),url(../fonts/LatoMedium.ttf) format('truetype'),url(../fonts/LatoMedium.svg#LatoMedium) format('svg');
}
body{
overflow-x: hidden!important;
font-family: 'LatoRegular',sans-serif;
letter-spacing: 1.2px;
color: #a29db3;
}
p {
font-size: 14px;
line-height: 24px;
}
p.large {
font-size: 16px
}
a, a:hover, a:focus, a:active, a.active {
outline: 0
}
a {
color: #36ad75;
}
a:hover, a:focus, a:active, a.active {
color: #34EC94;
}
h1, h2, h3, h4, h5, h6 {
font-weight: 700;
}
.img-centered {
margin: 0 auto
}
.bg-light-gray {
background-color:#F7F7F9;
}
.bg-dark {
background-color: #735cc4;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #fec503;
border-color: #f6bf01
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
background-image: none
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
background-color: #fed136;
border-color: #fed136
}
.btn-xl.color { background-color:#735CC4; color:#fff; border-color:#735CC4;}
.btn-xl.summer {margin-right:30px;}
.btn-xl {
background-color: #fff;
border-color: #fff;
border-radius: 50px;
font-family: 'LatoHeavy',sans-serif;
color: #735cc4;
font-size: 13px;
text-transform:uppercase;
padding: 14px;
width: 180px;

}
/*Stellarbee Devlopment Design Start*/

.top-liner .nav.navbar-nav.navbar-right li a {
padding: 6px 30px;
margin:0 auto;
font-family: 'LatoBlack',sans-serif;
}
.navbar-fixed-top .top-liner {
margin-top: -8px;
transition: all 0.3s ease 0s;
}
.top-liner .nav.navbar-nav.navbar-right li {
border: 2px solid #1d163a;
border-radius: 18px;
margin-right: 13px;
}
.top-liner .nav.navbar-nav.navbar-right li a:hover{ border-bottom:0 none;}
.intro-lead-in.tag {
color: #51cd91;
font-style: italic;
text-transform: none;
}
.navbar.navbar-fixed-top .navbar-brand img {
margin-top: -45px;
/*width: 250px;*/
transition: all 0.3s ease 0s;
}
.insight.navbar-nav > li > a{line-height: 30px;}
.navbar.navbar-fixed-top.navbar-shrink .navbar-brand img { /*margin-top: -30px; width: 240px; */}


/*Stellarbee Devlopment Design End*/
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
color: #fff;
background-color: #735CC4;
border-color: #735CC4;
}

.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
background-image: none
}
section#contact  h3.section-subheading{color: #fff;font-size: 20px;font-style: normal;margin-bottom: 40px;margin-top: 40px;line-height: 30px;}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
background-color: #fed136;
border-color: #fed136
}
.btn-xl .badge {
color: #fed136;
background-color: #fff
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
color: #fec503
}
.navbar-default .navbar-collapse {
border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
 background-color: #735cc4;
    border-color: #735cc4;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #735cc4;
border-color:#735cc4;
}
.navbar-default .nav li a {
text-transform: uppercase;
color: #1d163a;
font-size:12px;
}
.top-liner .nav.navbar-nav.navbar-right li:hover  { background-color: #735cc4; border: 2px solid #735cc4; }
.top-liner .nav.navbar-nav.navbar-right li:hover a{ color: #fff; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	color: #1d163a;
	border-bottom:3px solid #1d163a;
}
section{ padding:100px 0;}
#about {
background-image:url(../img/erp-eep.png);
background-repeat:no-repeat;
background-position: right bottom;}
.ltr {color: #a29db3; font-size: 20px;}
.ltr.marg{ margin-bottom:55px;font-size: 16px;font-family: 'LatoMedium',sans-serif;}
.title { font-size: 50px; font-weight:normal; color:#564f6d; margin-top:10px;}
.title span{font-family: 'LatoBold',sans-serif;}
.box-title{ font-size:22px; color:#735CC4;}
.title.color{color:#735CC4;}
.box-text { margin: 23px 0;}
.box-title{ margin:40px 0;}
.box-layout-3 .box-img{ min-height:50px;}
.box-color {
box-shadow: 0 0 8px 0 rgba(115, 92, 196, 0.6);
background-color: #fff;
border-radius: 10px;
padding: 35px;
min-height:285px;
}
.date {margin-bottom: 17px;}
.more-text {
color: #735cc4;
font-size: 12px;
font-family: 'LatoSemibold',sans-serif;
text-transform: uppercase;
}
.box-layout-3.color{ margin-top:75px;}
.color .box-title{ margin:0 auto 10px;}
.button-box { margin-top: 55px;}
.icon li {
background-repeat: no-repeat;
padding-left: 50px;
line-height: 55px;
background-position: left center;
font-family: 'LatoMedium',sans-serif;
}
.icon li a{ color:#a29db3; text-decoration:none; font-size:17px;}
.icon li.email{ background-image:url('../img/email.png');}
.icon li.web{ background-image:url('../img/glob.png');}
.icon li.phone{ background-image:url('../img/call.png');}

#contactForm input.form-control {
border-radius: 50px;
margin-bottom: 15px;
height: 50px;
padding: 6px 24px;
}
#contactForm textarea.form-control {
border-radius: 10px;
height: 210px;
padding: 15px 20px;
}
.title.color.mrg{ color:#fff;}
.carousel .carousel-control{ width:5%;height: 50px;}
.author-img img{ float:right;}
.carousel .carousel-control.left{ background-image:url('../img/left-arrow.png'); background-repeat:no-repeat;}
.carousel .carousel-control.right{ background-image:url('../img/right-arrow.png');background-repeat:no-repeat;}
p.in-center{color: #fff;font-size: 16px;}

.carousel .quote{ margin-top: 70px;font-size: 16px; background-image:url('../img/quote.png'); background-repeat:no-repeat;padding-top: 30px;}
.client-meet .quote{background-image:url('../img/quote.png'); background-repeat:no-repeat;padding-top: 30px;}
.author-name { font-size: 26px;}
.mrg { margin-bottom: 90px;}
.bg-part { position: relative;}
.set-bg {
background-color: #735cc4;
height: 350px;
position: absolute;
top: -100px;
width: 100%;
}
.testimonial-text { margin-top: 20px;}
.text-price > .dl {
color: #735cc4;
font-size: 70px;
font-family: 'LatoLight',sans-serif;
}
.p-icon {
color: #735cc4;
display: inline-block;
font-size: 20px;
margin-top: 20px;
vertical-align: top;
}
.text-price { font-size: 13px;}
.box-table {
	position: relative;
	top: 6px;
margin: 0 auto;
padding: 25px 30px;
width: 335px;
box-shadow:0 0 8px 0 rgba(115, 92, 196, 0.6);
min-height:520px;
}
.title-plan {
border-bottom: 1px solid #ddd;
height: 14px;
margin: 10px 0 27px;
text-align: center;
}
.title-plan-line {
background-color: #fff;
color: #735CC4;
font-size: 16px;
text-transform:uppercase;
letter-spacing:1.5px;
font-family: 'LatoBold',sans-serif;
padding: 0 15px;
}
.button-price {
margin-top: -19px;
text-align: center;
}
.box-table p{ margin-bottom:30px;}
.learn {
margin-top: 20px;
text-align: center;
}
.learn a{ text-transform:uppercase; text-decoration:none; color:#B7B3C1;font-family: 'LatoBold',sans-serif; font-size:12px;}

/*===========Desktop/Mobile part css start===========*/
.desk-app .nav-tabs {
border-bottom: none;
}
.tool-box {
background-color: #735cc4;
color: #fff;
padding: 40px;
margin-bottom: 25px;
position: relative;
}
.arrow-up-left {
border-bottom: 30px solid #735cc4;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
height: 0;
left: 230px;
position: absolute;
top: -30px;
width: 0;
}

.arrow-up-right{
border-bottom: 30px solid #735cc4;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
height: 0;
right: 230px;
position: absolute;
top: -30px;
width: 0;
}
.font-size-16{
	font-size:16px !important;
}
.nav-main-action {
margin: 100px 10px 70px;
}
.nav-main-action .nav.nav-tabs a {font-family: 'LatoBold',sans-serif; font-size:20px; text-decoration: none; color:#A29CB6;}
.tab-content-title{font-family: 'LatoBold',sans-serif; font-size:18px; color:#746f86; font-weight: normal;}
.nav-main-action .nav.nav-tabs .active a{color:#735CC4;}
.box-square {
border: 1px solid #a29cb6;
}
.box-square h3{ padding-left: 24px; padding-right: 24px;}
.box-square p{ padding:0px 24px 24px;}
.desk-app .tab-content p{ font-size: 13px;}
.space-bottom-30 { margin-bottom: 30px;}
.the-game-button {
position: relative;
}
.the-game-button .btn.btn-xl.color {
font-family: 'LatoBold',sans-serif;
font-size: 13px;
left: 0;
width: 210px;
padding: 12px 14px;
margin: 0 auto;
position: absolute;
right: 0;
top: -21px;
}
section.padding-top-0{ padding-top: 0px;}
section.padding-bottom-150{ padding-bottom: 150px;}
section.padding-bottom-0{padding-bottom:0;}
.sign-up-form{margin-top: 110px;}
.sign-up-title { font-size: 30px; font-weight: normal;margin-bottom: 45px; color: #564F70;}
.sign-up-title .bld{ font-family:'LatoHeavy',sans-serif;}
.sign-up-form .form-control {
border-radius: 50px;
height: 65px;
margin-right: 18px;
padding: 6px 35px;
width: 460px;
}
.btn.btn-free{ background-color: #735cc4;
border-radius: 50px;
color: #fff;
font-family: "LatoHeavy",sans-serif;
font-size: 16px;
height: 65px;
padding: 6px 26px;
text-transform: uppercase;
width: 145px;}
/*=====================End-CSS===============================*/
/*===========RRP Refresh Video part css start===========*/
.white-color{color:#fff;}
.few-title{ font-size: 20px;}
.mrg-btm-70{ margin-bottom: 70px;}
.scroll-box .bubbel-doted li{ font-family: "LatoSemibold",sans-serif;
font-size: 18px;
cursor: pointer;
line-height: 40px;
margin-bottom: 15px;
padding-left: 30px;
color: #b2a1ef;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.scroll-box .bubbel-doted li:hover{ color: #fff;}
.scroll-box .bubbel-doted li::before{
width: 20px;
height: 20px;
background: #fff;

-webkit-transition:all 0.5s ease;
transition: all 0.5s ease;
border-radius: 50%;
}
.scroll-box .bubbel-doted li::before{
content:"";
position: absolute;
left: 13px;
margin-top: 12px;}
.scroll-box .bubbel-doted li::after{
content:"";
position: absolute;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
left: 8px;
margin-top: 8px;}
.scroll-box .bubbel-doted li:hover::after{
background: #fff;
border-radius: 50%;
width: 30px;
height: 30px;
}
.bubbel-doted {
margin-left: 20px;
border-left: 5px solid #9780e8;
list-style: outside none none;
}
.slimScrollRail{width:2px !important;right:3px !important; background: #b2a1ef!important;}
.slimScrollBar{background: #FFFFFF!important; opacity: 1!important; width:5px!important;}
.video-frame {
    display: table;
    height: 395px;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}
.play-icon {
    left: 50%;
    position: absolute;
    top: 50%;
}

/*=====================End-CSS===============================*/
/*===========Subsscrib Work part css start===========*/
.box-full-l {
float: left;
width: 50%;
background-color: #735CC4;
padding: 100px 0;
}
.box-full-r {
background-image: url("../img/working-with-us.png");
background-repeat: no-repeat;
background-size: cover;
float: right;
padding: 100px 0;
width: 50%;
}
.box .button-item a{ font-size: 13px;font-family: "LatoBold",sans-serif;}
.box-full-r p{ font-size: 16px; color: #fff;}
.box-full-l .title{ font-size: 40px;margin-bottom: 37px;}
.box-full-r .title{font-size: 40px;}
.box-full-r .box {padding-left: 45px;}
.box-full-r .button-item { margin-top: 76px;}
.box-full-r .button-item .btn{width: 200px;font-family: "LatoHeavy",sans-serif; margin-right: 10px; font-size: 13px;}
.box-full-l .title span{  font-family: "LatoHeavy",sans-serif;}
.box-full-l .box {
float: right;
padding-right: 80px;
}
.box-full-l .form-control {
background-color: transparent;
border-radius: 30px;
height: 50px;
margin-bottom: 23px;
padding: 6px 30px;
color: #fff;
width: 370px;
}

#myCarousel_price .carousel-indicators { bottom: -70px;}

@media  only screen and (min-width:320px) and (max-width:767px){
.top-liner .nav.navbar-nav.navbar-right li{ float:left; width:35px;}
.nav.navbar-nav.navbar-right {  float: right;}
.navbar.navbar-fixed-top .navbar-brand img {
margin-top: -47px;
transition: all 0.3s ease 0s;
width: 184px;
}
/*.navbar.navbar-fixed-top.navbar-shrink .navbar-brand img {
margin-top: -38px;
width: 154px;
}*/
.navbar-fixed-top .top-liner{ margin-top:0px;}
.navbar-fixed-top.navbar-shrink .top-liner { margin-top: -5px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav a:hover{ border-bottom:0 none;}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {border-bottom:0 none;}
.nav.navbar-nav.navbar-right.insight{ float:none;}
.page-scroll.btn.btn-xl{ margin-bottom:10px;margin-right:0px;}
}


@media (min-width:768px) {
.navbar-default {
background-color: rgba(255, 255, 255, 0.9);
padding: 25px 0 20px;
-webkit-transition: padding .3s;
-moz-transition: padding .3s;
transition: padding .3s;
border: 0
}
.navbar-default .navbar-brand {
font-size: 2em;
-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s
}
.navbar-default.navbar-shrink {
background-color: #FFF;/*#735cc4;*/
/*padding: 25px 0 20px;*/
box-shadow: 1px 1px 4px #48504e;
}
.navbar-default.navbar-shrink .navbar-brand {
font-size: 1.5em
}
}
header {
background-image: url(../img/header_bg.png);
background-repeat: none;
background-attachment: scroll;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
text-align: center;
color: #fff;
}


.intro-text-main {
display: table;
height: 800px;
width: 100%;
}
header .intro-text {
display: table-cell;
vertical-align: middle;
position: relative;
}
.down-arrow {
    bottom: 80px;
    left: 48%;
    position: absolute;
    text-align: center;
}
@media (min-width:768px) {
header .intro-text .intro-lead-in {
font-family: 'LatoBold',sans-serif;
font-size: 90px;
line-height: 110px;
margin-bottom: 25px
}
header .intro-text .intro-heading {
font-size: 29px;
line-height: 75px;
margin-bottom: 20px;
}
}
footer {
background-color: #eae8f0;
padding: 10px 0;
text-align: center
}
footer span.copyright {
line-height: 40px;
text-transform: uppercase;
text-transform: none
}
@media screen and (max-width: 1300px) {
	.box-full-l .box {
		float: left;
		padding-left: 20px;
		padding-right: 0;
	}
	.background_opacity{
		background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
		height: 100%;
		margin: -100px 0;
		padding: 100px 0;
		width: 100%;
	}
}
@media screen and (max-width: 1200px) {
	#bs-example-navbar-collapse-1{
		margin: 0 auto;
		padding-right: 20px;
		width: 75%;
	}
	.navbar-header{
		margin-top:-20px;
	}
	.sqr{
		width:auto;
		margin-left: 20px;
	}
	.client-meet{
		margin-top:20px;
	}
	.video-frame iframe, .video-frame img,.video-frame{
		width:100%;
	}
	.box-table{
		width:auto;
	}
	.text-price > .dl{
		font-size:35px;
	}
	.box-full-l .title{
		font-size:38px;
	}
	.desk-app .form-group{
		width:75%;
	}

}
@media screen and (max-width: 1024px) {
	#bs-example-navbar-collapse-1{
		width:100%;
	}
	.sign-up-form{
		margin-top:20px;
	}
	.sign-up-form .form-group, .sign-up-form .form-group input{
		width:100%;
	}
	.sign-up-form  .btn{
		float:right;
		margin-top:10px;
	}
	header .intro-text .intro-lead-in{
		font-size:70px;
	}
	.box-full-l .form-control{
		width:90%;
	}
	.box-full-l, .box-full-r{
		height:525px;
	}
	.box-full-r .button-item{
		text-align:center;
	}
	.box-full-r .button-item .btn-xl{
		margin-bottom:10px;
	}
	.intro-heading{
		margin-bottom:20px;
	}
}
@media screen and (max-width: 768px) {
	.top-liner .nav.navbar-nav.navbar-right li{
		width:auto;
	}
	.navbar-header{
		margin:0;
	}
	.client-meet{
		margin-top:0;
	}
	#videos .full-size-box p{
		max-width:90%;
		margin:0 auto;
	}
	.video-frame{
		margin-bottom:40px;
	}
	#news .box-layout-3 .col-md-4{
		margin-bottom:20px;
	}
	#ourteam .carousel .carousel-control{
		width:50px;
	}
	#ourteam .paning-slide{
		bottom: 0;
		position: absolute;
		right: 0;
	}

}
@media screen and (max-width: 600px) {
	header .intro-text .intro-lead-in {
		font-size: 35px;
		margin-bottom: 15px;
	}
	.navbar-brand{
		margin:-15px 0 -10px;
	}
	.navbar.navbar-fixed-top .navbar-brand img{
		margin-top:0;
	}
	.video-frame{
		height:auto;
	}
	.box-full-l, .box-full-r{
		width:100%;
		height:auto;
	}
	#ourteam .author-img img{
		width:130px;
	}
	.scroll-box .bubbel-doted li{
		width:97%;
	}
	.client-meet, .client-slide-box{
		width:100%;
		margin-bottom:20px;
	}
}
@media screen and (max-width: 450px) {
	.login_regigster{
		display:none;
		margin: 50px 0;
    position: absolute;
    right: 0;
	}
	.navbar.navbar-fixed-top.navbar-shrink .navbar-brand img{
		margin-top:-10px;
	}
	.navbar-brand{
		margin:0;
	}
	.navbar.navbar-fixed-top .navbar-brand img {
		margin-top: -10px;
	}
	h2.title{
		font-size:35px;
	}
	.tab-content-title{
		margin-top:40px;
	}

}
@media screen and (max-width: 360px) {
	.arrow-up-left, .arrow-up-right{
		display:none;
	}
	#ourteam p.in-center{
		font-size: 12px;
		line-height: 16px;
	}
	.author-name{
		font-size: 18px;
	}
}
.navbar-right.insight .on-mobile {
  display: none;
}
