@font-face {
  font-family:LatoRegular;src:url(../fonts/LatoRegular.eot);src:url(../fonts/LatoRegular.eot) format('embedded-opentype'),url(../fonts/LatoRegular.woff2) format('woff2'),url(../fonts/LatoRegular.woff) format('woff'),url(../fonts/LatoRegular.ttf) format('truetype'),url(../fonts/LatoRegular.svg#LatoRegular) format('svg');
}

@font-face {
  font-family:LatoLight;src:url(../fonts/LatoLight.eot);src:url(../fonts/LatoLight.eot) format('embedded-opentype'),url(../fonts/LatoLight.woff2) format('woff2'),url(../fonts/LatoLight.woff) format('woff'),url(../fonts/LatoLight.ttf) format('truetype'),url(../fonts/LatoLight.svg#LatoLight) format('svg');
}

@font-face {
  font-family:LatoBold;src:url(../fonts/LatoBold.eot);src:url(../fonts/LatoBold.eot) format('embedded-opentype'),url(../fonts/LatoBold.woff2) format('woff2'),url(../fonts/LatoBold.woff) format('woff'),url(../fonts/LatoBold.ttf) format('truetype'),url(../fonts/LatoBold.svg#LatoBold) format('svg');
}

@font-face {
  font-family:LatoBlack;src:url(../fonts/LatoBlack.eot);src:url(../fonts/LatoBlack.eot) format('embedded-opentype'),url(../fonts/LatoBlack.woff2) format('woff2'),url(../fonts/LatoBlack.woff) format('woff'),url(../fonts/LatoBlack.ttf) format('truetype'),url(../fonts/LatoBlack.svg#LatoBlack) format('svg');
}
@font-face {
  font-family:LatoSemibold;src:url(../fonts/LatoSemibold.eot);src:url(../fonts/LatoSemibold.eot) format('embedded-opentype'),url(../fonts/LatoSemibold.woff2) format('woff2'),url(../fonts/LatoSemibold.woff) format('woff'),url(../fonts/LatoSemibold.ttf) format('truetype'),url(../fonts/LatoSemibold.svg#LatoSemibold) format('svg');
}
body{
  overflow-x: hidden!important;
  font-family: LatoRegular,sans-serif;
  letter-spacing: 1.2px;
  color: #2b3c49;
}
.input-group1 {
  float: right;
  position: relative;
  white-space: nowrap;
}
.date-icon {
  background-image: url("../images/date.png");
  background-repeat: no-repeat;
  height: 24px;
  position: absolute;
  right: 17px;
  top: -37px;
  cursor: pointer;
  width: 23px;
}
.form-control {
  border-radius: 30px;
  height: 50px;
  font-size: 15px;
  padding: 10px 20px;
  border-color: #C8BCE4;
}
.navbar-default{box-shadow: 1px 1px 4px #48504e;}
label{ font-weight:500;padding-left: 23px; text-transform: uppercase;}
.panel-body {
  border: 1px solid #C8BCE4;
  padding: 50px 80px;
  border-radius: 3px;
}
.form-control:focus{border-color: #C8BCE4; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(115, 92, 196, 0.6)}
.button .btn.btn-default.cust-btn {
  background-color: #735cc4;
  border: 0 none;
  float: right;
  border-radius: 30px;
  color: #fff;
  margin-top: 20px;
  padding: 15px 20px;
  text-transform: uppercase;
  width: 180px;
}
.form-group {
  margin-bottom: 20px;
}
select.select-style {
  color: #2b3c49;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0) url("../images/select.png") no-repeat scroll 93% center / 0.9rem 0.9rem;
}
select option {
    border-bottom-colors: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    background-color: #fff;
    border-color: #1d163a use-text-color use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 0;
    color: #1d163a;
    padding: 9px 20px;
}
select.form-control{padding :10px 28px 10px 20px;}

.head-title{color: #564f6d;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  .first-col { padding-right: 50px;}
  .second-col { padding-left: 50px;}
  .cust-label {
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  .checkbox label::before {
    border-radius: 3px;
  }
  .checkbox label {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    margin-right: 15px;
    padding-left: 45px;
    position: relative;
  }
  .checkbox label::before {
    background-color: #fff;
    border: 1px solid #c8bce4;
    bottom: 1px;
    content: "";
    display: inline-block;
    height: 24px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 24px;
  }
  .checkbox label {
    margin-bottom: 10px;
  }
  hr{ margin-top: 25px; margin-bottom: 30px;}
  input[type="checkbox"]:checked + label::before {
    color: #f3f3f3;
    background-color: #735cc4;
	border-color: #735cc4;
    content: "✓";
    font-size: 15px;
    line-height: 21px;
    text-align: center;
  }
.member-btn a {
    color: #2b3c49;
	text-decoration:none;
    font-size: 13px;
    text-transform: uppercase;
}
.member-btn {
    margin-top: 8px;
}
.add-btn {
    background-image: url("../img/Add.png");
    background-position: left center;
    background-repeat: no-repeat;
    height: 31px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-top: 8px;
}
.add-btn.del{background-image: url("../img/delete.png");}
.box-tooltip {
    padding: 23px 35px;
}
.box-tooltip ul li {
  background-image: url("../img/right.png");
    background-position: left 12px;
    background-repeat: no-repeat;
    line-height: 33px;
    padding-left: 35px;
    font-size: 14px;
    font-weight: normal;

}
.title {
    text-align: center;
    color: #735CC4;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: LatoSemibold,sans-serif;
}
.popover.right > .arrow {
    border-right-color: rgba(115, 92, 196, 0.6);
    left: -24px;
    margin-top: -25px;
  }
  .popover > .arrow {
      border-width: 25px;
  }
  .popover.right > .arrow::after{bottom: -23px;}
  .popover.right {
    margin-left: 25px;
}
.popover > .arrow::after{border-width: 23px;}
.popover {
 min-width: 340px;
 max-width: 400px;
 border: none;
 box-shadow: 0 0 8px 0 rgba(115, 92, 196, 0.6);
 padding: 0;
}
.popover-title,.popover-content {
 padding: 0;
}
.box-tooltip {
 background-color: #fff;
}
@media only screen and (min-width:768px) and (max-width:991px)  {
    .panel-body { padding: 15px;}
    .first-col { padding-right:0;}
    .second-col { padding-left: 0;}
    .popover.bottom.in > .arrow::after{border-width: 10px;}
  }
  @media only screen and (min-width:320px) and (max-width:767px)  {
    .panel-body { padding: 15px;}
    .first-col { padding-right:0;}
    .second-col { padding-left: 0;}
    .button { text-align: center;}
    .button .btn.btn-default.cust-btn {float: none;
      margin: 20px auto;}
.popover {min-width: 300px;left: -22px !important;}
.popover.bottom > .arrow::after{margin-left: -23px;}
    }
