<div id="wrapper">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="brand-logo"><a class="navbar-brand" ng-click="gotoCompanyInformation()"><img
                src="app/images/header_logo.png" class="img-responsive " alt="Logo"></a></div>
    </div>
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                {{username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">

                <li>
                    <a  ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li ng-class="{'active': isCompanyInfoPage}">
                <a ng-click="gotoCompanyInformation()" ><i class="fa fa-file-text-o"></i> Company
                    Information</a>
            </li>
            <li ng-class="{'active': isMemberListing}">
                <a ng-click="gotoMemberListing()" ><i class="fa fa-users"></i> Member Listing</a>
            </li>
            <li ng-class="{'active': isProjectListing}">
                <a ng-click="gotoProjectListing()" ><i class="fa fa-list"></i> Project Listing</a>
            </li>
            <li ng-class="{'active': isReport}">
                <a ng-click="gotoReports()" ><i class="fa fa-files-o"></i> Reports</a>
            </li>
        </ul>
        <div class="link">
                <div class="link-site">
                <a href="http://www.noleadfines.com/"><i class="fa fa-globe"></i> NoLeadFines Website</a>
                    </div>
                </div>
            </div>

</nav>
<div id="page-wrapper">


    <div id="app-view" ui-view>
    </div>

</div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <span class="copyright">&copy; Copyright 2016-2017 Joy-Above, LLC All Right Reserved. </span> </div>
        </div>
    </div>
    <script>
    	$(document).ready(function(){
			$(document).click(function(e) {
    			if (!$(e.target).is('a')) {
    		    	$('.collapse').collapse('hide');
    		    }
    		});
    	});
    </script>

</footer>
