<div class="container_custom">
<div class="col-sm-12 col-lg-12 col-md-12">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Company Information
      </h1>
    </div>
  </div>
  </div>
  <form action="" method="">
  <div class="col-sm-12 col-lg-12 col-md-12">
    <div class="row" id="first_step">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel">
          <div class="panel-body">
            <div ng-error-messages keys="keys" error-list='errorList'></div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group first-col">
                  <label>Firm Name *</label>
                  <input type="text" ng-disabled="isUpdate" ng-model="companyDTO.firmName" class="form-control">
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group second-col">
                  <label>Firm EPA Registration Number *</label>
                  <input type="text" class="form-control"  ng-model="companyDTO.epaRegistrationNumber">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row first-col">
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>Owner *</label>
                      <input type="text"class="form-control" placeholder="first name" ng-disabled="isUpdate" ng-model="companyDTO.firstName">
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text"class="form-control" placeholder="last name" ng-disabled="isUpdate" ng-model="companyDTO.lastName">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group second-col">
                  <label>Renewal Date</label>

                  <input type="date"class="form-control" placeholder="MM/DD/YYYY" ng-model="companyDTO.submissionDate" onkeydown="return false">
                  <!-- <span class="input-group1">
                     <span class="date-icon"></span>
                   </span>-->

                </div>
              </div>
            </div>
            <div class="row">
              <hr>
            </div>
            <div class="row ">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  first-col">
                  <label>Certified Renovator Number *</label>
                  <input type="text"class="form-control" ng-model="companyDTO.certifiedRenovatorNumber">
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  second-col">
                  <label>Renewal Date </label>
                  <input type="date"class="form-control" placeholder="MM/DD/YYYY"  ng-model="companyDTO.renewalDate" onkeydown="return false">
                  <!--<span class="input-group1">
                    <span class="date-icon"></span>
                  </span>-->
                </div>
              </div>
            </div>
            <div class="row">
              <hr>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  first-col">
                  <label>Company Email *</label>
                  <input type="text"class="form-control" ng-disabled="isUpdate" ng-model="companyDTO.companyEmail">
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  second-col">
                  <label>Personal Email</label>
                  <input type="text"class="form-control" ng-model="companyDTO.personalEmail">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  first-col">
                  <label>Company Address</label>
                  <input type="text"class="form-control" placeholder="STREET ADDRESS"  ng-model="companyDTO.companyAddress">
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  second-col">
                  <label>Personal Address</label>
                  <input type="text"class="form-control" placeholder="STREET ADDRESS" ng-model="companyDTO.personalAddress">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row  first-col">
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text"class="form-control" placeholder="CITY" ng-model="companyDTO.companyCity">
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text"class="form-control" placeholder="STATE/REGION"  ng-model="companyDTO.companyState">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row  second-col">
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text"class="form-control" placeholder="CITY" ng-model="companyDTO.personalCity">
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text"class="form-control" placeholder="STATE/REGION" ng-model="companyDTO.personalState">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row  first-col">
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text" ui-mask="99999-9999" ui-mask-placeholder class="form-control" placeholder="Zip Code" ng-model="companyDTO.companyZipCode" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <select class="form-control select-style" ng-model="companyDTO.companyCountry">
                        <option value="" disabled selected>Select Country</option>
                        <option>United States</option>
                        <option>Indian Lands</option>
                        <option>Territories</option>
                      </select>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row  second-col">
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text" class="form-control" ui-mask="99999-9999" ui-mask-placeholder onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Zip Code" ng-model="companyDTO.personalZipCode">
                    </div>
                  </div>
                  <!--<div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <select class="form-control select-style" ng-model="companyDTO.personalCountry">
                        <option value="" disabled selected>Select County</option>
                        <option>United States</option>
                        <option>Indian Lands</option>
                        <option>Territories</option>
                      </select>
                    </div>
                  </div>-->
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">
                      <label>&nbsp;</label>
                      <input type="text"class="form-control" placeholder="County Name"  ng-model="companyDTO.personalCountry">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row  first-col">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <label>Office Number *</label>
                    <input type="tel" ui-mask="(999) 999-9999" ui-mask-placeholder placeholder="Emergency Number" class="form-control"  ng-model="companyDTO.officeNumber">
                  </div>


                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  second-col">
                  <label>Cell Number *</label>
                  <input type="tel" ui-mask="(999) 999-9999" ui-mask-placeholder placeholder="Emergency Number" class="form-control"  ng-model="companyDTO.cellNumber">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="row  first-col">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <label>Emergency Contact *</label>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">

                      <input type="text"class="form-control" placeholder="FIRST" ng-model="companyDTO.emergencyContactFirstName">
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group">

                      <input type="text"class="form-control" placeholder="LAST" ng-model="companyDTO.emergencyContactLastName">
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group  second-col">
                  <label>Cell Number *</label>
                  <input type="tel" ui-mask="(999) 999-9999" ui-mask-placeholder placeholder="Emergency Number" class="form-control"  ng-model="companyDTO.emergancyContactCellNumber">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-md-12 button">
                <div class="row col-sm-6 col-lg-3 col-md-4 pull-right">
                  <button type="button" class="btn btn-default cust-btn" ng-click="save()">Save</button>
                </div><div class="col-sm-6 col-lg-3 col-md-4 pull-right button">
                <button type="button" class="btn btn-default cust-btn" ng-click="cancel()">Cancel</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </form>
</div>
