<link href="app/css/style.css" rel="stylesheet">
<link href="app/css/user_register.css" rel="stylesheet" type="text/css">
<link href="app/css/datepicker.css" rel="stylesheet" type="text/css">
<link href="app/css/innercommen.css" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top" style="height: 133px;">
    <div class="container login_regigster">
        <div class="top-liner">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="company-information">Register</a></li>
                <li><a ui-sref="login">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll"><img src="app/images/logo1.png" alt="Logo" /></a> </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right insight">
                <li> <a  class="page-scroll" href="http://noleadfines.com/index.php#page-top">Home</a> </li>
                <li> <a class="page-scroll" href="http://noleadfines.com/index.php#about">About</a> </li>
                <li> <a class="page-scroll" href="http://noleadfines.com/index.php#soft-ware">Software</a> </li>
                <li> <a class="page-scroll" href="http://noleadfines.com/index.php#ourteam">Our Team</a> </li>
                <li> <a class="page-scroll" href="http://noleadfines.com/index.php#videos">Videos</a> </li>
                <li> <a class="page-scroll" href="http://noleadfines.com/index.php#pricing">Pricing</a> </li>
                <li> <a class="page-scroll" href="http://noleadfines.com/index.php#news">News</a> </li>
                <li> <a class="page-scroll" href="http://noleadfines.com/index.php#contact">Contact</a> </li>
				<li class="on-mobile"> <a href="#/company-information">Register</a> </li>
				<li class="on-mobile"> <a href="#/login">Login</a> </li>
				
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
