


<div ng-include="'app/templates/header.html'"></div>
<section class="margin-top-150">
    <div class="container min-height">
        <div class="row">
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Login to NoLeadFines</div>
                    </div>
                    <div class="panel-body">
                        <div ng-error-messages keys="keys" error-list='errorList'></div>
                        <form id="loginform" >
                            <div class="row first">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="form-group">

                                        <input id="login-username" type="text" class="form-control" ng-model="userDetails.email" name="username" value="" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row first">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="form-group">

                                        <input id="login-password" type="password" class="form-control" ng-model="userDetails.password" name="password" placeholder="password">
                                    </div>
                                </div>
                            </div>
                            <div class="row first">
                                <div class="form-group">

                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <button  ng-click="login()" id="btn-login" class="btn btn-xl color-login">Login  </button>

                                        <div class="forgot-pass"><a ng-click="gotoForgotPassword()">Forgot password?</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div class="sign-up-foo">
                                            Want to Register?
                                            <a ng-click="goToCompanyRegistration()">
                                                Click Here
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <span class="copyright">&copy; Copyright 2016-2017 Joy-Above, LLC All Right Reserved. </span> </div>
        </div>
    </div>
</footer>
<script src="app/js/jquery.js"></script>
<script src="app/js/bootstrap.min.js"></script>
 <script>
    	$(document).ready(function(){
		//alert('plp');
			$('body').click(function(e) {
    			//if (!$(e.target).is('a')) {
    		    //	$('.collapse').collapse('hide');
    		    //}
    		});
    	});
    </script>