<div class="container_custom">
<div class="col-lg-12 col-sm-12 col-md-12">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Project Address
      </h1>

    </div>
  </div>
  </div>
  <form action="" method="">
<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="row" id="first_step">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel">
          <div class="panel-body">
            <div ng-error-messages  keys="keys" error-list='errorList'></div>
            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label>Occupant * </label>
                  <input type="text" class="form-control col-md-3" ng-model="projectAddressDTO.occupantName" placeholder="Occupant Name">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Submission Date</label>

                  <input type="date" class="form-control" placeholder="MM/DD/YYYY" ng-model="projectAddressDTO.submissionDate" onkeydown="return false">
                </fieldset>
              </div>
            </div>


            <div class="row">


              <div class="" ng-class="isOther ? 'col-md-3' : 'col-md-6'">
                <div class="form-group">
                  <label>Occupant Type *</label>
                  <select class="form-control" ng-model="projectAddressDTO.occupantType" ng-change="hasChanged()">
                    <option value="" disabled="" selected="" class="ng-binding">Please select the Occupant Type</option>
                    <option ng-repeat = "occupant in occupantsList">{{occupant}}</option>
                   <!-- <option>Occupant is Owner</option>
                    <option>Premise Administrator</option>
                    <option>Not occupied</option>
                    <option>Other</option>-->
                  </select>
                </div>
              </div>

              <div class="col-md-3" ng-if="isOther">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Other Occupant</label>
                  <input type="text" class="form-control" required ng-model="projectAddressDTO.otherOccupant" placeholder="OTHER OCCUPANT NAME">
                </fieldset>
              </div>

              <div class="col-md-6">
                <fieldset class="form-group">
                  <label>Owner</label>
                  <input type="text" class="form-control col-md-3" ng-model="projectAddressDTO.occupantNameTwo" placeholder="Owner Name">
                </fieldset>
              </div>


            </div>

            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Email</label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.ownerEmail" placeholder="">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Email</label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.occupantEmail" placeholder="">
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Project Address *</label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.address1" placeholder="Street Address">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Owners Address or Other</label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.ownerAddress1" placeholder="Street Address">
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <input type="text" class="form-control" ng-model="projectAddressDTO.address2" placeholder="Address Line 2">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <input type="text" class="form-control" ng-model="projectAddressDTO.ownerAddress2" placeholder="Address Line 2">
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput"></label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.city" placeholder="City">
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label></label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.state" placeholder="State / Region">
                </fieldset>
              </div>

              <div class="col-md-3">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput"></label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.ownerCity" placeholder="City">
                </fieldset>
              </div>
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label></label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.ownerState" placeholder="State / Region">
                </fieldset>
              </div>

            </div>

            <div class="row">
              <div class="col-md-3">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput"></label>
                  <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" ng-model="projectAddressDTO.zipCode" placeholder="Postal / Zip Code"  ui-mask="99999-9999" ui-mask-placeholder>
                </fieldset>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label></label>
                  <select class="form-control" ng-model="projectAddressDTO.country">
                    <option value="" disabled selected>Select Country</option>
                    <option>United States</option>
                    <option>Indian Lands</option>
                    <option>Territories</option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput"></label>
                  <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" ng-model="projectAddressDTO.ownerZipCode" placeholder="Postal / Zip Code" ui-mask="99999-9999" ui-mask-placeholder>
                </fieldset>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label></label>
                  <select class="form-control" ng-model="projectAddressDTO.ownerCountry">
                    <option value="" disabled selected>Select Country</option>
                    <option>United States</option>
                    <option>Indian Lands</option>
                    <option>Territories</option>
                  </select>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Home Number *</label>
                  <input type="text" class="form-control" ng-model="projectAddressDTO.homePhone" ui-mask="(999) 999-9999" ui-mask-placeholder placeholder="###-###-####">
                </fieldset>

              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Cell Number</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" ui-mask="(999) 999-9999" ui-mask-placeholder ng-model="projectAddressDTO.cellNumber" placeholder="###-###-####">
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <label>Emergency Contact</label>
                  <input type="text" class="form-control col-md-3" ng-model="projectAddressDTO.emergencyContact" placeholder="Name">
                </fieldset>
              </div>

              <div class="col-md-6">
                <fieldset class="form-group">
                  <label for="formGroupExampleInput">Cell Number</label>
                  <input type="text" class="form-control" ui-mask="(999) 999-9999" ui-mask-placeholder ng-model="projectAddressDTO.emergencyCellNumber" placeholder="###-###-####">
                </fieldset>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-12 col-lg-12 col-md-12 button project-address-btn-outer">
                <div class="row col-sm-6 col-lg-3 col-md-4 pull-right">
                  <button type="button" class="btn btn-default cust-btn" ng-click = "next()">Next</button>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4 pull-right button">
                  <button type="button" class="btn btn-default cust-btn" ng-click="cancel()">Cancel</button>
                </div>
              </div>
            </div>


            </div>

          </div>
        </div>
      </div>
    </div>
</div>
  </form>
</div>
