<div class="container_custom">
<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Project Information
            </h1>

        </div>
    </div>
    </div>
    <form action="" method="">
<div class="col-sm-12 col-lg-12 col-md-12">
        <div class="row" id="first_step">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <div ng-error-messages keys="keys" error-list='errorList'></div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Project Name *</label>
                                    <input type="text" class="form-control"
                                           ng-model="projectInformationDTO.projectName" placeholder="">
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset name="contractField" class="form-group">

                                    <label for="formGroupExampleInput">Select all that apply</label></br>
                                    <input type="radio" name="contract" class=""
                                           ng-model="projectInformationDTO.contractType" value="Lump Sum or Fixed Price"
                                           placeholder=""> Lump Sum or Fixed Price </br>
                                    <input type="radio" name="contract" class=""
                                           ng-model="projectInformationDTO.contractType" value="Cost Plus % Contract"
                                           placeholder=""> Cost Plus % Contract </br>
                                    <input type="radio" name="contract" class=""
                                           ng-model="projectInformationDTO.contractType" value="Cost Plus % fee, not to Exceed"
                                           placeholder=""> Cost Plus % fee, not to Exceed </br>
                                    <input type="radio" name="contract" class=""
                                           ng-model="projectInformationDTO.contractType" value="Design Build"
                                           placeholder=""> Design Build</br>
                                    <input type="radio" name="contract" class=""
                                           ng-model="projectInformationDTO.contractType" value="Sub Contract"
                                           placeholder=""> Sub Contract</br>
                                    <input type="radio" name="contract" class=""
                                           ng-model="projectInformationDTO.contractType" value="Insurance Agreement/Unit Pricing"
                                           placeholder=""> Insurance Agreement/Unit Pricing</br>

                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset name="addressField" class="form-group">
                                    <label for="formGroupExampleInput">Address Type </label></br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType" value="Single_Family"
                                           placeholder=""> Single Family</br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType" value="Duplex"
                                           placeholder=""> Duplex</br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType" value="Condominium"
                                           placeholder=""> Condominium</br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType" value="Apartment_Building"
                                           placeholder=""> Apartment Building</br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType"
                                           value="Multi_Family_Low_Rise_*" placeholder=""> Multi Family Low Rise
                                    *</br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType"
                                           value="Multi_Family_High_Rise_*" placeholder=""> Multi Family High Rise
                                    *</br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType" value="Gated_Community"
                                           placeholder=""> Gated Community</br>
                                    <input type="radio" name="addressType" class=""
                                           ng-model="projectInformationDTO.addressType" value="Public_Housing"
                                           placeholder=""> Public Housing</br>
                                </fieldset>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Pamphlet Delivery Type *</label>
                                    <select class="form-control"
                                            ng-model="projectInformationDTO.pamphletDeliveryType">
                                        <option>Occupant</option>
                                        <option>Occupant is Owner</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Delivery Date *</label>
                                    <input type="date" class="form-control"
                                           ng-model="projectInformationDTO.deliveryDate" placeholder="" onkeydown="return false">
                                </fieldset>
                            </div>
                            <div class="col-md-4" ng-hide="true">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Signature Obtained *</label>

                                    <input type="radio" name="signature" class=""
                                           ng-model="projectInformationDTO.signatureObtained" value="true"
                                           placeholder=""> Yes
                                    <input type="radio" name="signature" class=""
                                           ng-model="projectInformationDTO.signatureObtained" value="false"
                                           placeholder=""> No
                                </fieldset>

                            </div>

                        </div>

                        <div class="divider"></div>
                        <div class="row col-md-12">Additional Contact Information</div>

                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Email</label>
                                    <input type="text" class="form-control"
                                           ng-model="projectInformationDTO.additionalEmail" placeholder="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Email</label>
                                    <input type="text" class="form-control"
                                           ng-model="projectInformationDTO.additionalEmail2" placeholder="">
                                </fieldset>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Home Number</label>
                                    <input type="text" class="form-control"
                                           ng-model="projectInformationDTO.additionalHomePhone"
                                           placeholder="###-###-####"
                                           ui-mask="(999) 999-9999" ui-mask-placeholder>
                                </fieldset>

                            </div>
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Cell Number</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                           ng-model="projectInformationDTO.additionalCellNumber"
                                           placeholder="###-###-####"
                                           ui-mask="(999) 999-9999" ui-mask-placeholder>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label>Emergency Contact</label>
                                    <input type="text" class="form-control col-md-6"
                                           ng-model="projectInformationDTO.additionalEmergencyContact"
                                           placeholder="Name">

                                </fieldset>
                            </div>

                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">Emergency Number</label>
                                    <input type="text" class="form-control"
                                           ng-model="projectInformationDTO.additionalEmergencyCellNumber"

                                           ui-mask="(999) 999-9999" ui-mask-placeholder placeholder="###-###-####">
                                </fieldset>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12 button">
                                <div class="row col-sm-6 col-lg-3 col-md-4 pull-right">
                                    <button type="button" class="btn btn-default cust-btn" ng-click="save()">Save</button>
                                </div><div class="col-sm-6 col-lg-3 col-md-4 pull-right button">
                                <button type="button" class="btn btn-default cust-btn" ng-click="previous()">Previous</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </form>
</div>
