<div class="container_custom">
<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="row" style="position: relative;">
        <div class="col-lg-12">
            <h1 class="page-header">
                PROJECT LISTING
            </h1>

        </div>
        <div class="fixed-action-btn">
            <a ng-click="addProject()" class="btn-floating btn-large-action red" >
                <i><img class="padding-top"  src="app/images/plus.png" /></i>
            </a>
        </div>
    </div>
</div>
<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="row" id="div_members">
        <div class="col-lg-12">

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-font">
                    <thead>
                    <tr >
                        <th>Project Name</th>
                        <th>Occupant Name</th>
                        <th>Occupant Type</th>
                        <th>Contact Number</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="project in projectlist|orderBy :'projectName'">
                        <td>{{project.projectName}}</td>
                        <td>{{project.occupantName}}</td>
                        <td>{{project.occupantType}}</td>
                        <td>{{project.homePhone | tel}}</td>
                        <td>
                            <a ui-sref="app.RRP-project({projectId:{{project.id}}})" class="btn btn-primary btn-xs icon-padding" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a ng-click="deleteProject(project)"  data-title="Delete" class="btn btn-danger btn-xs icon-padding btn-delete-member"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
