<div class="container_custom">
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Reports
            </h1>

        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row" id='first_report'>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel">
                <div class="report-panel">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active' : isReport1}"><a data-toggle="tab" ng-click="report1()">Report 1</a></li>
                        <li ng-class="{'active' : isReport2}"><a data-toggle="tab" ng-click="report2()">Report 2</a></li>
                        <li ng-class="{'active' : isReport3}"><a data-toggle="tab" ng-click="report3()">Report 3</a></li>
                    </ul>
                </div>
                <div class="panel-body">

                    <div  ng-include="template" >

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>