


<div ng-include="'app/templates/header.html'"></div>
<section class="margin-top-150">
    <div class="container min-height">
        <div class="row">
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Reset Password</div>
                    </div>
                    <div class="panel-body">
                        <div ng-error-messages keys="keys" error-list='errorList'></div>
                        <form id="loginform" >
                            <div class="row first">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input id="login-tempcode" type="text" class="form-control" ng-model="changePasswordDTO.temporaryCode" name="temporarycode" value="" placeholder="Temporary Code">
                                    </div>
                                </div>
                            </div>
                            <div class="row first">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input id="login-newpassword" type="password" class="form-control" ng-model="changePasswordDTO.newPassword" name="password" value="" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row first">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input id="login-confirmpassword" type="password" class="form-control" ng-model="changePasswordDTO.confirmPassword" name="confirmpassword" value="" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>

                            <div class="row first" style="text-align: center;">
                                <div class="form-group">

                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <button  ng-click="forgotPassword()" id="btn-login" class="btn btn-xl color-login">Save</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <span class="copyright">&copy; Copyright 2016-2017 Joy-Above, LLC All Right Reserved. </span> </div>
        </div>
    </div>
</footer>
<script src="app/js/jquery.js"></script>
<script src="app/js/bootstrap.min.js"></script>
