<div class="option-margin">
    <div class="row">
        <div class="col-lg-12">
            <h1>Select Option</h1>
        </div>
    </div>

    <div class="padding"></div>
    <div class="form">

        <div class="row">

          <div class="col-md-6">
            <div>
                <a ui-sref="login" class="btn btn-primary btn-block" role="button">Login</a>
            </div>
          </div>

        </div>
        <div class="padding"></div>
        <div class="row">

      <div class="col-md-6">
        <div>
            <a ng-click="goToCompanyRegistration()" class="btn btn-default btn-block" role="button">Registration</a>
        </div>
      
      </div>
    </div>

      <div class="padding"></div>

        <div class="row">

            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
