<div id="report3" class="tab-pane fade in active">
    <div class="main-report">
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-md-9">
                <h2>Non-Certified Worker Report</h2>
                <p>Certifying Renovator Approvals by Project</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="img-box text-right">
                    <img src="app/images/logo.png" class="img-responsive" alt="image">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p class="cmp-add-l">{{companyInfo.firmName}}<br>
                    {{companyInfo.companyAddress}}<br>
                    {{companyInfo.companyCity}} {{companyInfo.companyState}} {{companyInfo.companyZipCode}}<br>
                    {{companyInfo.companyNumber}}
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!--<p class="cmp-add-r text-right">{{companyInfo.firstName}} {{companyInfo.lastName}} <br>
                    {{companyInfo.personalAddress}} <br>
                    {{companyInfo.personalCity}} {{companyInfo.personalState}} {{companyInfo.personalZipCode}}<br>
                    {{companyInfo.personalNumber}}

                </p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 report-page">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" ng-repeat="project in projects">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>NCW Team Members</th>
                            <th>Skill Approvals</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2">{{project.address1}} {{project.address2}} {{project.city}} {{project.country}} {{project.zipCode}} </td>
                            <td>{{project.addressType}}</td>
                        </tr>
                        <!--<tr ng-repeat = "skill in member.skillDTO.skills">
                            <td class="width-70">1</td>
                            <td  class="valign-middle width-270">{{member.userName}}</td>

                            <td class="width-110">{{skill.skillDetail.name}}</td>
                            <td class="width-400">{{skill.certifedRenovator}}</td>
                            <td class="width-150">{{skill.certification_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>-->
                        <tr ng-repeat="member in project.usersDetail |orderBy :'userName'">
                            <td class="width-70">{{$index+1}}</td>
                            <td class="valign-middle width-270">{{member.userName}}</td>
                            <td class="width-660">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th>Module and Skill Name</th>
                                        <th>Certifying Renovator</th>
                                        <th>Last Test Date</th>
                                    </tr>
                                    <tr ng-repeat = "skill in member.skillDTO.skills">
                                        <td>{{skill.skillDetail.name}}</td>
                                        <td>{{skill.certifedRenovator}}</td>
                                        <td>{{skill.certification_date | date:'MM-dd-yyyy'}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <hr />
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
