<div class="container_custom list-color">
<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="row" style="position: relative;">
        <div class="col-lg-12">
            <h1 class="page-header">
                Member Listing
            </h1>

        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large-action red" id="btn_add_member" ui-sref="app.update-member">
                <i><img class="padding-top" src="app/images/plus.png" /></i>
            </a>
        </div>
    </div>
    </div>
<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="row" id="div_members">
        <div class="col-lg-12">

            <div class="table-responsive">
                    <table class="table table-bordered table-hover table-font">
                    <thead>
                    <tr >
                        <th>Name of Worker</th>
                        <th>Worker Type</th>
                        <th>Email Id</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="member in memberList|orderBy :'name'" class="memberList list-unstyled" ng-init="skillContent = getMemberSkillsContent(member.skillDTO.skills) ">
                        <td class="text-capitalize font-strong"><span class="nametooltip" data-content={{skillContent}}>{{member.name}}</span></td>
                        <td>{{member.userType}}</td>
                        <td>{{member.emailId}}</td>
                        <td>
                            <button ui-sref="app.update-member({memberId:{{member.id}}})" class="btn btn-primary btn-xs icon-padding" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button ng-click="deleteMember(member.id,member.name)"  data-title="Delete" class="btn btn-danger btn-xs icon-padding  btn-delete-member"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    </div>

</div>
<script type="text/javascript">
$(document).ready(function(){
    $(".nametooltip").popover({
        placement : wheretoplace,
        trigger : 'hover',
		title: $(this).attr('data-content'),
        html: true,
    });
    //$(".MemberTooltip").popover('show')
});
function wheretoplace(){
    var width = window.innerWidth;
    if (width < 991) return 'bottom';
    return 'right';
}
</script>
