<div class="container_custom">
<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add/Update Member
            </h1>

        </div>
    </div>
    </div>
    <form action="" method="">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="row" id="first_step">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel">
                    <div class="panel-body">

                        <div ng-error-messages keys="keys" error-list='errorList'></div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group first-col">
                                    <label>Name *</label>
                                    <input type="text" class="form-control" ng-model="member.name"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group second-col">
                                    <label>Email Id *</label>
                                    <input type="text" class="form-control"
                                           ng-model="member.emailId" ng-disabled="isUpdate"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group first-col">
                                    <label>Personal Address *</label>
                                    <input type="text" class="form-control"
                                           placeholder="Street Address"
                                           ng-model="member.address1">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group second-col">
                                    <label>Type *</label>
                                    <select class="form-control" ng-model="member.userType">
                                        <option value="SUPERVISOR">Supervisor</option>
                                        <option value="NCW">Non Certified Worker</option>
                                        <option value="CW"> Certified Renovator</option>
                                    </select>
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="row  first-col">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <input type="text" class="form-control"
                                                   placeholder="CITY" ng-model="member.city">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <input type="text" class="form-control"
                                                   placeholder="STATE/REGION"
                                                   ng-model="member.state">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="row  first-col">
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                                                   placeholder="POSTAL CODE"
                                                   ng-model="member.zipCode" ui-mask="99999-9999" ui-mask-placeholder>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <select class="form-control select-style"
                                                    ng-model="member.country">
                                                <option value="" disabled selected>Select Country</option>
                                                <option>United States</option>
                                                <option>Indian Lands</option>
                                                <option>Territories</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="row  first-col">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <label>Home Number *</label>
                                        <input class="form-control" type="tel"
                                               ui-mask="(999) 999-9999" ui-mask-placeholder
                                               placeholder="Home Number"
                                               ng-model="member.homePhone">
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group  second-col">
                                    <label>Cell Number</label>
                                    <input class="form-control" type="tel" ui-mask="(999) 999-9999"
                                           ui-mask-placeholder placeholder="Cell Phone"
                                           ng-model="member.cellPhone">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="row  first-col">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <label>Emergency
                                            Contact</label>

                                        <input type="text" class="form-control col-md-3"
                                               placeholder="Emergency Contact"
                                               ng-model="member.emergancyContact">
                                    </div>


                                </div>
                            </div>


                            <div class="col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group  second-col">
                                    <label>Emergency Number</label>
                                    <input type="tel" ui-mask="(999) 999-9999" ui-mask-placeholder
                                           placeholder="Emergency Number" class="form-control"
                                           ng-model="member.emergancyPhone">

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12 button">
                                <div class="row col-sm-6 col-lg-3 col-md-4 pull-right">
                                    <button type="button" class="btn btn-default cust-btn" ng-click="save()">Save</button>
                                </div><div class="col-sm-6 col-lg-3 col-md-4 pull-right button">
                                <button type="button" class="btn btn-default cust-btn" ng-click="cancle()">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </form>
</div>
