<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Skill Certifications</h1>
  </div>
</div>



<div class="form">
    <div class="row">
      <div class="col-md-6">

        <fieldset class="form-group">
          <label for="formGroupExampleInput2">Trained Non-Certified Worker</label>

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle col-md-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select From Here
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Tom Jones</a></li>
              <li><a href="#">Terry Smith</a></li>
              <li><a href="#">Jose Diego</a></li>
            </ul>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset class="form-group">
          <label for="formGroupExampleInput">Date for Approved Skill</label>
          <input type="date" class="form-control" id="formGroupExampleInput" placeholder="MM-DD-YYYY" onkeydown="return false">
        </fieldset>
      </div>

    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col-md-12">
        <fieldset class="form-group">
              <div class="row">
                <div class="col-md-12"><label for="formGroupExampleInput2">Approved Skills Listing</label></div>
              </div>
              <div class="row">
                <div class="checkbox" class="col-md-12">

                  <label class="col-md-12"><input type="checkbox"  value="">1. Understanding RRP rules and the effects of lead</label>
                  <label class="col-md-12"><input type="checkbox"  value="">2. Barrier placement and signage for RRP work areas </label>
                  <label class="col-md-12"><input type="checkbox"  value="">3. Covering and or removing interior furniture/fixtures </label>
                  <label class="col-md-12"><input type="checkbox"  value="">4. Interior barrier requirements and setup skills </label>
                  <label class="col-md-12"><input type="checkbox"  value="">5. Exterior barrier requirements and setup skills </label>
                  <label class="col-md-12"><input type="checkbox"  value="">6. The use of safety equipment </label>
                  <label class="col-md-12"><input type="checkbox"  value="">7. Reducing hazard of lead dust </label>
                  <label class="col-md-12"><input type="checkbox"  value="">8. Cleaning of Interior RRP work areas </label>
                  <label class="col-md-12"><input type="checkbox"  value="">9. Cleaning of Exterior RRP work areas </label>
                  <label class="col-md-12"><input type="checkbox"  value="">10. Bagging of lead dust debris and disposal of debris</label>
                  <label class="col-md-12"><input type="checkbox"  value="">11. Record Keeping </label>

                </div>

              </div>

        </fieldset>
      </div>

    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <a href="#" class="btn btn-primary" role="button">Save</a>
          <a href="#" class="btn btn-primary" role="button">Previous</a>
        </p>
      </div>
    </div>
</div>

<style type="text/css">
.divider {
  margin-top: 1%;
  margin-bottom: 2%;
  height: 1px;
  width: 100%;
  border-top: 1px solid gray;
}

</style>
